[{"emoji_o1","开心"},
 {"emoji_o2","愉快"},
 {"emoji_o3","嘻嘻"},
 {"emoji_o4","媚眼"},
 {"emoji_o5","吐舌"},
 {"emoji_o6","微笑"},
 {"emoji_o7","亲亲"},
 {"emoji_o8","飞吻"},
 {"emoji_o9","笑cry"},
 {"emoji_o10","啊哈"},
 {"emoji_o11","惊呆"},
 {"emoji_o12","鄙视"},
 {"emoji_o13","鬼脸"},
 {"emoji_o14","色色"},
 {"emoji_o15","噢漏"},
 {"emoji_o16","无语"},
 {"emoji_o17","汗颜"},
 {"emoji_o18","严肃"},
 {"emoji_o19","惬意"},
 {"emoji_o20","惊吓"},
 {"emoji_o21","冷汗"},
 {"emoji_o22","生病"},
 {"emoji_o23","汗在脸上"},
 {"emoji_o24","奸笑"},
 {"emoji_o25","低落"},
 {"emoji_o26","不要"},
 {"emoji_o27","不要啊"},
 {"emoji_o28","睡着"},
 {"emoji_o29","OMG"},
 {"emoji_o30","哭"},
 {"emoji_o31","哭一点点"},
 {"emoji_o32","生气"},
 {"emoji_o33","拳头"},
 {"emoji_o34","棒"},
 {"emoji_o35","首先"},
 {"emoji_o36","麦克风"},
 {"emoji_o37","音乐"},
 {"emoji_o38","太阳"},
 {"emoji_o39","下雨"},
 {"emoji_o40","月亮"},
 {"emoji_o41","便便"},
 {"emoji_o42","猪"},
 {"emoji_o43","精灵"},
 {"emoji_o44","鬼"},
 {"emoji_o45","骷髅头"},
 {"emoji_o46","肌肉"},
 {"emoji_o47","足球"},
 {"emoji_o48","吃药"},
 {"emoji_o49","口红"},
 {"emoji_o50","涂指甲"},
 {"emoji_o51","戒指"},
 {"emoji_o52","蛋糕"},
 {"emoji_o53","长号"},
 {"emoji_o54","吉他"},
 {"emoji_o55","保佑"},
 {"emoji_o56","不"},
 {"emoji_o57","拍掌"},
 {"emoji_o58","小号"},
 {"emoji_o59","游泳"},
 {"emoji_o60","教堂"},
 {"emoji_o61","汪星人"},
 {"emoji_o62","接吻"},
 {"emoji_o63","礼物"},
 {"emoji_o64","彩带"},
 {"emoji_o65","比基尼"},
 {"emoji_o66","恼火"},
 {"emoji_o67","在一起"},
 {"emoji_o68","南瓜"},
 {"emoji_o69","色盘"},
 {"emoji_o70","老鼠"},
 {"emoji_o71","猴子"},
 {"emoji_o72","青蛙"}]